.contacte-nous {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.contacte-nous .map-co {
    width: 50%;
    position: relative;
}
.contacte-nous .map-co iframe {
    width: 100%;
    height:100%;
}
.contacte-nous .map-co .lo-map {
    width: 47%;
    min-width: 270px;
    position: absolute;
    background-color: #385292;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px 10px;
    left: 50%;
    bottom:10%;
    transform:translate(-50%,0);
    border-radius: 4px;
}
.contacte-nous .map-co .lo-map div {
    display: flex;
    flex-direction: column;
    color:white;    
}
.contacte-nous .map-co .lo-map div p {
    font-size: 0.9rem;
    margin:5px;
    color:white;
}
.contacte-nous .map-co .lo-map div h5 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    margin:0;
}
.contacte-nous .map-co .lo-map i {
    font-size: 2rem;
    color:white;
    margin:10px 10px 10px 20px;
}
.contacte-nous .form-contacte {
    width: 50%;
    height: 100%;
    background-color: #385292;
    z-index: 5;
    display: flex;
    flex-direction: column;
    padding:40px 70px;
    box-sizing: border-box;
}
.contacte-nous .form-contacte h3 {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    color: white;
    margin:10px;
}
.contacte-nous .form-contacte p {
    font-family: 0.8rem;
    font-family: sans-serif;
    color: white;
    margin:10px 10px;
}

.contacte-nous .form-contacte #form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contacte-nous .form-contacte #form label {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 172px;
    height: fit-content;
    padding:10px 15px;
    margin:0;
}
.contacte-nous .form-contacte #form label input {
    font-size: 0.9rem;
    height:30px;
    padding:5px 15px;
    border: none;
    border-radius:4px;
    outline-color: slategrey;
}
.contacte-nous .form-contacte #form label p {
    font-size: 1.1rem;
    font-family: 'Nunito', sans-serif;
}
.contacte-nous .form-contacte #form label textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.15rem;
    height:120px;
    padding:15px 15px;
    border: none;
    border-radius:4px;
    outline-color: slategrey;
}
.contacte-nous .form-contacte #form input[type="submit"] {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    margin:20px 30px;
    padding:15px 20px;
    background-color: transparent;
    border:1px solid white;
    border-radius:4px;
    color: white;
    transition: background-color 200ms linear;
    cursor: pointer;
}
.contacte-nous .form-contacte #form input[type="submit"]:hover {
    background-color: #6685d3b6;
}

@media (max-width:800px) {
    .contacte-nous .map-co {
        width: 40%;
        position: relative;
    }
    
.contacte-nous .map-co .lo-map {
    width: 40%;
    min-width: 230px;
    padding:7px;
}
.contacte-nous .map-co .lo-map div {
    display: flex;
    flex-direction: column;
    color:white;    
}
.contacte-nous .form-contacte {
    padding:30px 50px;
}
.contacte-nous .map-co .lo-map div p {
    font-size: 0.85rem;
}
.contacte-nous .map-co .lo-map div h5 {
    font-size: 1.1rem;
}
.contacte-nous .map-co .lo-map i {
    font-size: 1.7rem;
    margin:7px 7px 7px 10px;
}
    .contacte-nous .form-contacte {
        width: 60%;
    }
    .contacte-nous .form-contacte #form label {
        min-width: 250px;
    }
}

@media (max-width:560px) {
    .contacte-nous .map-co {
        width: 40%;
        position: relative;
    }
    
.contacte-nous .map-co .lo-map {
    min-width: 140px;
    padding:5px;
}

.contacte-nous .map-co .lo-map div p {
    font-size: 0.6rem;
}
.contacte-nous .map-co .lo-map div h5 {
    font-size: 0.9rem;
}
.contacte-nous .map-co .lo-map div {
    display: flex;
    flex-direction: column;
    color:white;    
}
.contacte-nous .form-contacte {
    padding:20px 30px;
}
.contacte-nous .form-contacte h3 {
    font-size: 1.9rem;
    font-family: 'Nunito', sans-serif;
    color: white;
    margin:10px;
}
.contacte-nous .form-contacte p {
    font-family: 0.75rem;
    font-family: sans-serif;
    color: white;
    margin:10px 0px;
}
.contacte-nous .map-co .lo-map i {
    font-size: 1.2rem;
    margin:5px 5px 5px 7px;
}
    .contacte-nous .form-contacte {
        width: 60%;
    }
    .contacte-nous .form-contacte #form label {
        min-width: 200px;
    }
    .contacte-nous .form-contacte #form label p {
        font-size: 0.9rem;
        font-family: 'Nunito', sans-serif;
    }
    .contacte-nous .form-contacte #form label input {
        font-size: 0.7rem;
    }
    .contacte-nous .form-contacte #form label textarea {
        box-sizing: border-box;
        width: 100%;
        font-size: 1.15rem;
        height:120px;
        padding:15px 15px;
        border: none;
        border-radius:4px;
        outline-color: slategrey;
    }
    .contacte-nous .form-contacte #form input[type="submit"] {
        font-size: 0.9rem;
        font-family: 'Nunito', sans-serif;
        margin:20px 10px;
        padding:9px 12px;
        background-color: transparent;
        border:1px solid white;
        border-radius:4px;
        color: white;
        transition: background-color 200ms linear;
        cursor: pointer;
    }
}
@media (max-width:450px) {
    .contacte-nous .form-contacte #form label {
        padding:15px 9px;
    }
}
@media (max-width:411px){ 
.contacte-nous .map-co .lo-map {
    min-width: 110px;
}

.contacte-nous .map-co .lo-map div p {
    font-size: 0.5rem;
}
.contacte-nous .map-co .lo-map div h5 {
    font-size: 0.72rem;
}

.contacte-nous .form-contacte {
    padding:7px 10px;
}
.contacte-nous .form-contacte h3 {
    font-size: 1.7rem;
    font-family: 'Nunito', sans-serif;
    color: white;
    margin:10px;
}
.contacte-nous .form-contacte p {
    font-family: 0.64rem;
    font-family: sans-serif;
    color: white;
    margin:10px 5px 7px 13px;
}
.contacte-nous .map-co .lo-map i {
    font-size: 1.1rem;
    margin:5px 5px 5px 7px;
}
    .contacte-nous .form-contacte {
        width: 60%;
    }
    .contacte-nous .form-contacte #form label {
        min-width: 170px;
    }
    .contacte-nous .form-contacte #form label p {
        font-size: 0.75rem;
        font-family: 'Nunito', sans-serif;
    }
    .contacte-nous .form-contacte #form label input {
        font-size: 0.6rem;
        padding:4px 7px;
    }
    .contacte-nous .form-contacte #form label textarea {
        box-sizing: border-box;
        width: 100%;
        font-size: 0.75rem;
        height:120px;
        padding:15px 10px;
        border: none;
        border-radius:4px;
        outline-color: slategrey;
    }
    .contacte-nous .form-contacte #form input[type="submit"] {
        font-size: 0.7rem;
        font-family: 'Nunito', sans-serif;
        margin:10px 10px 20px 15px;
        padding:9px 10px;
        background-color: transparent;
        border:1px solid white;
        border-radius:4px;
        color: white;
        transition: background-color 200ms linear;
        cursor: pointer;
    }
}

@media (max-width:360px) {
    .contacte-nous .form-contacte #form label {
        min-width: 90%;
        box-sizing: border-box;
    }
    
}
@media (max-width:320px) {
    .contacte-nous .form-contacte #form input[type="submit"] {
        font-size: 0.7rem;
        font-family: 'Nunito', sans-serif;
        margin:10px 10px;
        padding:9px 7px;
    }
}
@media (max-width:290px) {
    .contacte-nous .form-contacte #form input[type="submit"] {
        font-size: 0.6rem;
        font-family: 'Nunito', sans-serif;
        margin:10px 5px;
        padding:5px 4px;
    }
}