li {
    list-style: none;
}

#footer div ul .active-footer a span {
    color: rgb(255, 255, 255);
    padding-left: 5px;
}
#footer div ul .active-footer a i {
    color: rgb(39, 139, 233);
    padding-left: 7px;
}
/*----- Start Footer -----*/
#footer {
    width:100%;
    display:flex;
    flex-direction:row;
    background-color:#203774;
    padding: 0px 0px 0px 0px;
    justify-content: center;
    position:relative;
    margin-top: 160px;
} 
#footer .title {
    background-color:#142450
}
#footer .title #co {
    width:400px;
    display: flex;
    flex-direction: column;
    padding:50px 30px 30px 50px;
}
#footer .title #co h4 {
    font-size:3rem;
    font-weight:400;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.6mm;
    color: rgb(255, 255, 255);
    margin:10px;
}
#footer .title #co p {
    font-size:1.1rem;
    font-weight:100;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.3mm;
    color: rgb(255, 255, 255);
    margin:20px 10px 30px;
}
#footer .title #co ul {
    display:flex;
    flex-direction:row;
}
#footer .title #co ul li {
    display: block;
    text-decoration:none;
    text-align: center;
    width:45px;
    height:45px;
    margin:0 10px;
    background:rgb(255, 255, 255);
    border-radius:510px;
}
#footer .title #co ul li a i {
    font-size:1.4rem;
    transition:color 250ms linear,background 250ms linear;
    padding:11px;
    border-radius: 100px;
    color: #0f235a;
}
#footer .title #co ul li a i:hover {
    color: #647cbe;
}
#mouhcine {
    width: 100%;
    background-color: #08122e;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:-10px;
    border-top: 2px solid rgb(83, 83, 83);
}
#mouhcine p {
    color: rgb(194, 190, 190);
    font-size:1rem;
    font-family: 'Poppins', sans-serif;
    margin-top: -10px;
}
#mouhcine p a {
    font-size:1.2rem;
    color: rgba(255, 255, 255, 0.801);
    font-family: 'Nunito', sans-serif;
}

#footer .footer-container {
    width:970px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin:60px auto 0;
}
#footer .about {
    width: 270px;
    height:250px;
    padding:0px 5px 10px 20px;
}
#footer .about h4 {
    font-size:2rem;
    font-weight:400;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.6mm;
    color: rgb(255, 255, 255);
    margin:10px 10px 10px 0;
    padding-left: 20px;
    border-left: 5px solid white;
}
#footer .about ul {
    display:flex;
    flex-direction:column;
    padding:10px;
}
#footer .about ul li a {
    display:block;
    text-decoration:none;
    font-size:1rem;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.3mm;
    color: rgb(194, 190, 190);
    padding:3px 0px;
    border-bottom:2px solid transparent;
}
#footer .about ul li a span {
    transition:padding 300ms linear;
}
#footer .about ul li a i {
    transition:padding 250ms linear 250ms, color 200ms linear 200ms;
}
#footer .about ul li a i {
    font-size: 0.7rem;
}
#footer .about ul li:hover a span {
    color: rgb(255, 255, 255);
    padding-left: 5px;
}
#footer .about ul li:hover a i {
    color: rgb(39, 139, 233);
    padding-left: 7px;
}

#footer .service {
    width: 250px;
    height:250px;
    padding:0px 5px 20px 20px;
}
#footer .service h4 {
    font-size:2rem;
    font-weight:400;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.6mm;
    color: rgb(255, 255, 255);
    margin:10px 10px 10px 0;
    padding-left: 20px;
    border-left: 5px solid white;
}
#footer .service ul {
    display:flex;
    flex-direction:column;
    padding:10px;
}
#footer .service ul li a {
    display:block;
    text-decoration:none;
    font-size:1rem;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.3mm;
    color: rgb(194, 190, 190);
    padding:3px 0px;
    border-bottom:2px solid transparent;
}
#footer .service ul li a span {
    transition:padding 300ms linear;
}
#footer .service ul li a i {
    transition:padding 250ms linear 250ms, color 200ms linear 200ms;
}
#footer .service ul li a i {
    font-size: 0.7rem;
}
#footer .service ul li:hover a span {
    color: rgb(255, 255, 255);
    padding-left: 5px;
}
#footer .service ul li:hover a i {
    color: rgb(39, 139, 233);
    padding-left: 7px;
}


#footer .other {
    width: 200px;
    height:250px;
    padding:0px 10px 20px 20px;
}
#footer .other h4 {
    font-size:1.9rem;
    font-weight:400;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.6mm;
    color: rgb(255, 255, 255);
    margin:10px 10px 10px 0;
    padding-left: 20px;
    border-left: 5px solid white;
}
#footer .other ul {
    display:flex;
    flex-direction:column;
    padding:10px;
}
#footer .other ul li a {
    display:block;
    text-decoration:none;
    font-size:1rem;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.3mm;
    color: rgb(194, 190, 190);
    padding:3px 0px;
    border-bottom:2px solid transparent;
}
#footer .other ul li a span {
    transition:padding 300ms linear;
}
#footer .other ul li a i {
    transition:padding 250ms linear 250ms, color 200ms linear 200ms;
}
#footer .other ul li a i {
    font-size: 0.7rem;
}
#footer .other ul li:hover a span {
    color: rgb(255, 255, 255);
    padding-left: 5px;
}
#footer .other ul li:hover a i {
    color: rgb(39, 139, 233);
    padding-left: 7px;
}


#footer .up {
    height:4.5rem;
    width:4.5rem;
    border-radius:100%;
    position:absolute;
    top:-2.3rem;
    right:6rem;
    background:white;
    display:flex;
    animation:up 1300ms infinite forwards linear;
    cursor:pointer;
    z-index: 2;
}

#footer .up i {
    font-size:2rem;
    color:rgb(16, 7, 66);
    margin:auto;
}

@keyframes up {
    0%{
        box-shadow: 0 0 0px 2px #0f235ab7; 
    }
    50%{
        box-shadow: 0 0 5px 15px #0f235a1e; 
    }
    80%{
        box-shadow: 0 0 5px 23px #1a398b1e; 
    }
    100%{
        box-shadow: 0 0 10px 23px #547ef102; 
    }
}
/*----- End Footer -----*/

@media (max-width:760px) {
    #footer {
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #footer .title {
        width:100%;
        display: flex;
        flex-direction: column;
        padding:10px 0px 10px 0;
    }
    #footer .title #co {
        margin:0 auto;
    }

}
@media (max-width:540px) {
    

    #footer .title #co {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 50px 10px 30px 20px;
    }
    
#footer .title h4 {
    font-size:2.5rem;
    font-weight:400;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.6mm;
    color: rgb(255, 255, 255);
    margin:10px;
}
#footer .title p {
    font-size:1rem;
    font-weight:100;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.3mm;
    color: rgb(255, 255, 255);
    margin:20px 10px 30px;
}
#footer .title ul {
    display:flex;
    flex-direction:row;
}
#footer .title ul li {
    display: block;
    text-decoration:none;
    text-align: center;
    width:45px;
    height:45px;
    margin:0 10px;
    background:rgb(255, 255, 255);
    border-radius:510px;
}
#footer .title ul li a i {
    font-size:1.4rem;
    transition:color 250ms linear,background 250ms linear;
    padding:11px;
    border-radius: 100px;
    color: #0f235a;
}
}


@media (max-width:420px) {
    #footer .up {
        height:3.8rem;
        width:3.8rem;
        border-radius:100%;
        position:absolute;
        top:-1.9rem;
        right:3rem;
        background:white;
        display:flex;
        animation:up 1300ms infinite forwards linear;
        cursor:pointer;
    }
    
    #footer .up i {
        font-size:1.7rem;
        color:rgb(16, 7, 66);
        margin:auto;
    }
    #mouhcine p {
        font-size:0.9rem;
    }
    #mouhcine p a {
        font-size:1.05rem;
    }
}
@media (max-width:290px) {
    #footer .title h4 {
        font-size:2rem;
    }
    #mouhcine p {
        font-size:0.8rem;
    }
    #mouhcine p a {
        font-size:0.95rem;
    }
    #footer .title p {
        font-size:0.85rem;
        font-weight:100;
        font-family: 'Nunito', sans-serif;
        letter-spacing: 0.3mm;
        color: rgb(255, 255, 255);
        margin:20px 10px 30px;
    }
    #footer .title #co ul {
        padding:0;
    }

    #footer .title ul li {
        width:40px;
        height:40px;
        margin:0 10px;
    }
    #footer .title ul li a i {
        font-size:1.4rem;
        padding:10px;
    }
    #footer .up {
        height:3rem;
        width:3rem;
        border-radius:100%;
        position:absolute;
        top:-1.5rem;
        right:2rem;
        background:white;
        display:flex;
        animation:up 1300ms infinite forwards linear;
        cursor:pointer;
    }
    
    #footer .up i {
        font-size:1.3rem;
        color:rgb(16, 7, 66);
        margin:auto;
    }
} 
