.qui-nous {
    margin-top:70px;
    width: 100%;
    height:fit-content;
    padding:0 50px;
    box-sizing: border-box;
}
.qui-nous h3 {
    font-size: 1.1rem;
    color:rgb(78, 78, 78);
    font-family: 'Nunito', sans-serif;
    border-bottom:3px;
    border-bottom-color: gray;
    border-bottom-style: solid;
    width: fit-content;
}
.qui-nous div {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.qui-nous div p{
    width: 65%;
    margin:15px auto;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    color: rgb(60, 59, 65);
}
.qui-nous div p::first-letter {
    font-size: 2rem;
    color: #0e204e;
    margin-left: 20px;
}
.qui-nous div img {
    width: 30%;
    height: 300px;
    margin-top: -1vw;
}

@media (max-width:1150px) {
    .qui-nous div img {
        width: 30%;
        height: 300px;
        margin-top: 10px;
    }
}
@media (max-width:1050px) {
    .qui-nous div p{
        width: 65%;
        margin:15px auto;
        font-size: 1.1rem;
        font-family: 'Nunito', sans-serif;
        color: rgb(60, 59, 65);
    }
    .qui-nous div p::first-letter {
        font-size: 1.8rem;
        color: #0e204e;
        margin-left: 20px;
    }

    .qui-nous div img {
        width: 30%;
        height: 250px;
        margin-top: 10px;
    }
}
@media (max-width:900px) {
    .qui-nous div p{
        width: 65%;
        margin:15px auto;
        font-size: 1.2rem;
        font-family: 'Nunito', sans-serif;
        color: rgb(60, 59, 65);
    }
    .qui-nous div p::first-letter {
        font-size: 1.8rem;
        color: #0e204e;
        margin-left: 20px;
    }

    .qui-nous div img {
        width: 30%;
        height: 220px;
        margin-top: 30px;
    }
}
@media (max-width:800px) {
    .qui-nous div p{
        width: 65%;
        margin:15px auto;
        font-family: 'Nunito', sans-serif;
        color: rgb(60, 59, 65);
    }
    .qui-nous div p::first-letter {
        font-size: 1.7rem;
        color: #0e204e;
        margin-left: 20px;
    }
    .qui-nous div img {
        width: 30%;
        height: 220px;
        margin-top: 50px;
    }
}
@media (max-width:700px) {
    .qui-nous div p{
        width: 65%;
        margin:15px auto;
        font-size: 1.1rem;
        font-family: 'Nunito', sans-serif;
        color: rgb(60, 59, 65);
    }
    .qui-nous div p::first-letter {
        font-size: 1.6rem;
        color: #0e204e;
        margin-left: 20px;
    }
    .qui-nous div img {
        width: 30%;
        height: 220px;
        margin-top: 50px;
    }
    .qui-nous {
        padding:0 30px;
    }
}

@media (max-width:600px) {
    .qui-nous div p{
        width: 65%;
        margin:15px auto;
        font-size: 1rem;
        font-family: 'Nunito', sans-serif;
        color: rgb(60, 59, 65);
    }
    .qui-nous div p::first-letter {
        font-size: 1.5rem;
        color: #0e204e;
        margin-left: 20px;
    }
    .qui-nous div img {
        width: 30%;
        height: 200px;
        margin-top: 50px;
    }
    .qui-nous {
        padding:0 20px;
    }
    .qui-nous h3 {
        font-size: 1.2rem;
    }
}
@media (max-width:500px) {
    .qui-nous div p{
        width: 65%;
        margin:15px auto;
        font-family: 'Nunito', sans-serif;
        color: rgb(60, 59, 65);
    }
    .qui-nous div p::first-letter {
        font-size: 1.5rem;
        color: #0e204e;
        margin-left: 20px;
    }
    .qui-nous div img {
        width: 30%;
        height: 180px;
        margin-top: 100px;
    }
    .qui-nous {
        padding:0 20px;
    }
    .qui-nous h3 {
        font-size: 0.8rem;
    }
}
@media (max-width:420px) {
    .qui-nous div p{
        width: 100%;
        margin:15px auto;
        font-family: 'Nunito', sans-serif;
        color: rgb(60, 59, 65);
    }
    .qui-nous div p::first-letter {
        font-size: 1.3rem;
        color: #0e204e;
        margin-left: 20px;
    }
    .qui-nous div img {
        width: 30%;
        height: 180px;
        margin-top: 100px;
        display: none;
    }
    .qui-nous {
        padding:0 30px;
    }
    .qui-nous h3 {
        font-size: 0.7rem;
    }
}
@media (max-width:300px) {
    .qui-nous div p{
        width: 100%;
        margin:15px auto;
        font-size: 0.8rem;
    }
    .qui-nous div p::first-letter {
        font-size: 1.3rem;
        color: #0e204e;
        margin-left: 20px;
    }
    .qui-nous div img {
        display: none;
    }
    .qui-nous {
        padding:0 30px;
    }
    .qui-nous h3 {
        font-size: 0.6rem;
    }
}