body {
    background-image: url("../images/body-bg.png");
}
#juridique-header {
    width: 100%;
    height: 400px ;
    background-image: url("../images/traduction-assermentee-de-documents-juridiques.jpeg");
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 80px;
    display: flex;
    position:relative;
}
#juridique-header::after {
    content: " ";
    width: 100%;
    height:100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.300);
}
#juridique-header h1 {
    font-size: 4rem;
    font-family: 'Nunito', sans-serif;
    margin:auto;
    color: white;
    z-index: 2;
}

@media (max-width:920px) {
    #juridique-header {
        height: 350px ;
    }
    #juridique-header h1 {
        font-size: 2.7rem;
    }
}

@media (max-width:800px) {
    #juridique-header {
        height: 330px ;
        margin-top: 150px;
    }
    #juridique-header h1 {
        font-size: 2.2rem;
    }
}

@media (max-width:650px) {
    #juridique-header {
        height: 300px ;
        margin-top: 150px;
    }
    #juridique-header h1 {
        font-size: 2rem;
    }
}
@media (max-width:490px) {
    #juridique-header {
        height: 280px ;
        margin-top: 150px;
    }
    #juridique-header h1 {
        font-size: 1.7rem;
    }
}
@media (max-width:400px) {
    #juridique-header {
        height: 250px ;
        margin-top: 150px;
    }
    #juridique-header h1 {
        font-size: 1.5rem;
    }
}
@media (max-width:330px) {
    #juridique-header {
        height: 230px ;
        margin-top: 150px;
    }
    #juridique-header h1 {
        font-size: 1.2rem;
    }
}
@media (max-width:260px) {
    #juridique-header {
        height: 220px ;
        margin-top: 150px;
    }
    #juridique-header h1 {
        font-size: 7vw;
    }
}