.quistion-contact {
    width: 100%;
    height: fit-content;
    margin: 80px 0 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}
.quistion-contact iframe {
    width: 100%;
    height: 500px;
    margin-bottom: 70px;
}
.quistion-contact h3 {
    font-size: 2.3rem;
    font-family: 'Nunito', sans-serif;
    width: 90%;
    text-align: center;
    color:#203774;
}
.quistion-contact hr {
    width: 80%;
    padding:0 70px
}
.quistion-contact .contacte-element {
    width: 100%;

    margin:0 70px;
}
.quistion-contact .contacte-element .contacte-input {
    margin: 0px auto;
}
.quistion-contact .contacte-element .contacte-input form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quistion-contact .contacte-element .contacte-input form div {
    margin:10px;
    display: flex;
    flex-direction: row;
}
.quistion-contact .contacte-element .contacte-input form div input {
    width: 300px;
    font-size: 1.1rem;
    font-family: 'Nunito', sans-serif;    
    padding:10px;
    margin:0 10px;
}
.quistion-contact .contacte-element .contacte-input form textarea {
    font-size: 1.1rem;
    padding:20px;
    font-family: 'Nunito', sans-serif;    
    margin:10px 10px;
    height: 120px;
    width: 60% !important;
}
.quistion-contact .contacte-element .contacte-input form input[type="submit"] {
    text-align: center;
    padding:10px;
    font-family: 'Nunito', sans-serif; 
    background-color: #385292;
    border: 1px solid white;
    border-radius:4px;
    color: white;
    cursor: pointer;
    transition: background 250ms linear;
}
.quistion-contact .contacte-element .contacte-input form input[type="submit"]:hover {
    background-color: #385292d7;
}


@media (max-width:1100px) {
    .quistion-contact .contacte-element .contacte-input form div input {
        width: 240px;
        font-size: 1.05rem;
        font-family: 'Nunito', sans-serif;    
        padding:9px;
        margin:0 10px;
    }
    .quistion-contact .contacte-element .contacte-input form textarea {
        font-size: 1.1rem;
        padding:10px;
        font-family: 'Nunito', sans-serif;    
        margin:10px 10px;
        height: 100px;
        width: 55% !important;
    }
}
@media (max-width:1000px) {
    .quistion-contact  .contacte-element .contacte-input form div input {
        width: 200px;
        font-size: 1rem;
        font-family: 'Nunito', sans-serif;    
        padding:9px;
        margin:0 8px;
    }
    .quistion-contact  .contacte-element .contacte-input form textarea {
        font-size: 1.05rem;
        padding:7px;
        font-family: 'Nunito', sans-serif;    
        margin:10px 10px;
        height: 100px;
        width: 62% !important;
    }
    .quistion-contact  .contacte-element .contacte-input form input[type="submit"] {
        padding:9px;
    }
}

@media (max-width:890px) {
    .quistion-contact  .contacte-element .contacte-input form div input {
        width: 170px;
        font-size: 1rem;
        font-family: 'Nunito', sans-serif;    
        padding:5px 7px;
        margin:0 8px;
    }
    .quistion-contact  .contacte-element .contacte-input form textarea {
        font-size: 1.05rem;
        padding:5px 7px;
        font-family: 'Nunito', sans-serif;    
        margin:10px 10px;
        height: 80px;
        width: 58% !important;
    }
    .quistion-contact  h3 {
        font-size: 1.9rem;
        width: 90%;
        text-align: center;
    }
}
@media (max-width:800px) {
    .quistion-contact  .contacte-element .contacte-input form div input {
        width: 150px;
        font-size: 0.9rem;
        font-family: 'Nunito', sans-serif;    
        padding:4px 6px;
        margin:0 6px;
    }
    .quistion-contact  .contacte-element .contacte-input form textarea {
        padding:4px 6px;
        font-family: 'Nunito', sans-serif;    
        margin:8px 8px;
        height: 70px;
        width: 54% !important;
    }
    .quistion-contact  .contacte-element .contacte-input form input[type="submit"] {
        font-size: 0.9rem;
        padding:8px 7px;
        margin:5px 0;
    }
}

@media (max-width:760px) {
    .quistion-contact  .contacte-element {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin:0 70px;
    }
    .quistion-contact  .contacte-element .contacte-input {
        margin-left: 0;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    .quistion-contact  .contacte-element .contacte-input form {
        width: fit-content;
        margin:0 auto;
        align-self: center;
    }
    .quistion-contact  .contacte-element .contacte-input form div {
        margin:10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .quistion-contact  .contacte-element .contacte-input form div input {
        width: 40%;
        font-size: 1.05rem;
        font-family: 'Nunito', sans-serif;    
        padding:9px;
        margin:10px 10px;
    }

    .quistion-contact .contacte-element .contacte-input form textarea {
        padding:4px 6px;
        font-family: 'Nunito', sans-serif;    
        margin:8px 8px;
        height: 70px;
        width: 62% !important;
    }
}

@media (max-width:760px) {
    .quistion-contact  .contacte-element .media {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: -40px;
    }

    .quistion-contact  .contacte-element {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin:0 70px;
    }
    .quistion-contact  .contacte-element .contacte-input {
        align-items: center;
    }
    .quistion-contact  .contacte-element .contacte-input form div {
        margin:10px;
        display: flex;
        flex-direction: row;
    }

    .quistion-contact  .contacte-element .contacte-input form div input {
        width: 40%;
        font-size: 1.05rem;
        font-family: 'Nunito', sans-serif;    
        padding:9px;
        margin:10px 10px;
    }

    .quistion-contact  .contacte-element .contacte-input form textarea {
        padding:4px 6px;
        font-family: 'Nunito', sans-serif;    
        margin:8px 8px;
        height: 70px;
        width: 62% !important;
    }
}

@media (max-width:530px) {
    .quistion-contact  .contacte-element .media {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: -40px;
    }

    .quistion-contact  h3 {
        font-size: 1.5rem;
    }
    .quistion-contact  .contacte-element {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin:0 70px;
    }
    .quistion-contact  .contacte-element .contacte-input {
        align-items: center;
    }
    .quistion-contact  .contacte-element .contacte-input form div {
        margin:5px;
        align-items: center;
    }

    .quistion-contact  .contacte-element .contacte-input form div input {
        width: 30%;
        font-size: 0.8rem;
        font-family: 'Nunito', sans-serif;    
        padding:5px;
        margin:8px;
    }

    .quistion-contact  .contacte-element .contacte-input form textarea {
        font-size: 1rem;
        padding:3px 5px;
        font-family: 'Nunito', sans-serif;    
        margin:6px;
        height: 50px;
        width: 45% !important;
    }
}

@media (max-width:380px) {
    .quistion-contact  .contacte-element .media {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: -20px;
    }
    .quistion-contact  .contacte-element .media h3 {
        font-size: 1.1rem;
    }
    .quistion-contact  .contacte-element .media b {
        font-size: 0.78rem;
        margin:2.2px 0;
    }
    .quistion-contact  .contacte-element .media a {
        margin:3px 0;
        font-size: 0.78rem;

    }
    .quistion-contact  h3 {
        font-size: 1.2rem;
    }
    .quistion-contact  .contacte-element {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin:0 50px;
    }
    .quistion-contact  .contacte-element .contacte-input {
        align-items: center;
    }
    .quistion-contact  .contacte-element .contacte-input form div {
        margin:5px;
        align-items: center;
    }

    .quistion-contact  .contacte-element .contacte-input form div input {
        width: 30%;
        font-size: 0.8rem;
        font-family: 'Nunito', sans-serif;    
        padding:5px;
        margin:8px;
    }

    .quistion-contact  .contacte-element .contacte-input form textarea {
        font-size: 0.9rem;
        padding:3px 5px;
        font-family: 'Nunito', sans-serif;    
        margin:6px;
        height: 50px;
        width: 45% !important;
    }
}